<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NSG autoconfig server</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>


  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">

            <div >
              <a href="http://nsg.ru/index.php">
                <img src="/images/nsg_logo.svg" class="nsg-logo">
              </a>
            </div>

            <div class="clearfix"></div>

            <!-- sidebar menu -->
            <%= render_shared "_sidebar.html", conn: @conn %>
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <%= render_shared "_top_navigation.html", conn: @conn %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <%= render @view_module, @view_template, assigns %>
        </div>
        <!-- /page content -->

      </div>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
