<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Таблицы</h3>
    <ul class="nav side-menu">
      <li>
        <%= link "Группы", to: group_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Устройства", to: device_path(@conn, :index) %>
      </li>
      <li>
        <%= link "Журнал запросов", to: request_path(@conn, :index) %>
      </li>

    </ul>
  </div>
</div>
