<h2>Show Device</h2>

<ul>

  <li>
    <strong>Ключ:</strong>
    <%= @device.key %>
  </li>

  <li>
    <strong>Группа:</strong>
    <%= @device.group.name %>
  </li>

  <li>
    <strong>Params:</strong>
    <%= "@device.params" %>
  </li>

</ul>

<span><%= link "Edit", to: device_path(@conn, :edit, @device) %></span>
<span><%= link "Back", to: device_path(@conn, :index) %></span>
