<span><%= link "Edit", to: group_path(@conn, :edit, @group) %></span>
<span><%= link "Back", to: group_path(@conn, :index) %></span>

<h2>Группа</h2>
<ul>

  <li>
    <strong>Name:</strong>
    <%= @group.name %>
  </li>

  <li>
    <strong>Template:</strong>
    <pre><code>
      <%= @group.template %>
    </code></pre>
  </li>

</ul>
