<h2>Show Newdev</h2>

<ul>

  <li>
    <strong>Key:</strong>
    <%= @newdev.key %>
  </li>

  <li>
    <strong>From:</strong>
    <%= @newdev.from %>
  </li>

  <li>
    <strong>Source:</strong>
    <%= @newdev.source %>
  </li>

  <li>
    <strong>Group:</strong>
    <%= @newdev.group %>
  </li>

</ul>

<span><%= link "Edit", to: newdev_path(@conn, :edit, @newdev) %></span>
<span><%= link "Back", to: newdev_path(@conn, :index) %></span>
