<h2>Show Request</h2>

<ul>

  <li>
    <strong>From:</strong>
    <%= @request.from %>
  </li>

  <li>
    <strong>Request:</strong>
    <%= inspect(@request.request, pretty: true) %>
  </li>

  <li>
    <strong>Response:</strong>
    <%= @request.response %>
  </li>

</ul>

<span><%= link "Back", to: request_path(@conn, :index) %></span>
