<%= link "Показать", to: user_path(@conn, :show, @user), class: "btn btn-default btn-xs" %>
<%= link "Список пользователей", to: user_path(@conn, :index), class: "btn btn-default btn-xs" %>
<h2>Редактировать пользователя</h2>

<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user)) %>
