<%= link "Редактировать", to: user_path(@conn, :edit, @user), class: "btn btn-default btn-xs" %>
<%= link "Список пользователей", to: user_path(@conn, :index), class: "btn btn-default btn-xs" %>
<h2>Пользователь</h2>

<ul>

  <li>
    <strong>Имя:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Хэш пароля:</strong>
    <%= @user.password_hash %>
  </li>

  <li>
    <strong>Админ:</strong>
    <%= @user.is_admin %>
  </li>

</ul>
